.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    background-color: #171616;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .grid-item:hover {
    transform: scale(1.1);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .card-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
  }
  
  .card-content {
    padding: 10px;
  }
  
  .card-description {
    font-size: 0.9em;
    color: #b3b3b3;
    padding: 10px;
    text-transform: uppercase;
  }
  
  .card-footer {
    padding: 10px;
  }
  