.relative-container {
  position: relative;
}

.header {
  position: relative;
  z-index: 1;
  height:300px;
}

.grid {
  position: absolute;
  top: 0;
  left: 10;
  width: auto;
  margin-top: 200px;
  z-index: 2; /* Ensure grid is above header */
  /* Add other styling as needed */
}

.title {
  position: absolute;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  top: 0;
  width: auto;
  margin-top: 10px;
  margin-left: 20px;
  z-index: 2; /* Ensure grid is above header */
  /* Add other styling as needed */
}